/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Merriweather:wght@300&display=swap');

/* General styling */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    padding: 20px;
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    /* Dark mode styling */
    body.dark-mode {
        background-color: #1e1e1e;
        color: #ddd;
    }



.material-symbols-outlined {
    font-size: inherit !important;
    vertical-align: text-top;
}

body.fit-full-width #chapter-content {
    max-width: 100% !important;
}

body.fit-full-width #chapter-content > * {
    max-width: 100% !important;
}

#chapter-nav, #chapter-nav-bottom {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

    #chapter-nav button, #chapter-nav-bottom button, #toggle-theme-btn, #fullscreen-btn, #fit-full-width-btn {
        padding: 10px 15px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #008cba;
        color: #fff;
        transition: background-color 0.3s;
    }

        #chapter-nav button:hover, #chapter-nav-bottom button:hover, #toggle-theme-btn:hover, #fullscreen-btn:hover, #fit-full-width-btn:hover {
            background-color: #005f7f;
        }

#chapter-select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #008cba;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
}

/* Chapter content styling */
#chapter-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

    #chapter-content h1 {
        font-family: 'Merriweather', serif;
        font-size: 32px;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: center;
    }

    #chapter-content p {
        line-height: 1.6;
        font-size: 18px;
        max-width: 600px;
        margin: 0 auto;
        white-space: pre-wrap;
        text-align: justify;
    }

/* Dark mode switch button */
#visual-toggles {
    text-align: right;
    margin-bottom: 20px;
}

/* Dark mode specific styles */
body.dark-mode #toggle-theme-btn, body.dark-mode #fullscreen-btn, body.dark-mode #fit-full-width-btn {
    background-color: #444;
    color: #fff;
}

body.dark-mode #chapter-nav button, body.dark-mode #chapter-nav-bottom button, body.dark-mode #chapter-select, body.dark-mode #fullscreen-btn {
    background-color: #444;
    color: #fff;
}

    body.dark-mode #chapter-nav button:hover, body.dark-mode #chapter-nav-bottom button:hover, body.dark-mode #toggle-theme-btn:hover, body.dark-mode #fullscreen-btn:hover , body.dark-mode #fit-full-width-btn:hover {
        background-color: #666;
    }

#fullscreen-btn {
    border-radius: 0;
    border-bottom-right-radius: 5px !important;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    font-size: 5vmin !important;
    font-weight: bolder;
    padding: 5px;
}

/* Responsive styles */
@media (max-width: 600px) {
    #chapter-nav, #chapter-nav-bottom {
        flex-direction: column;
        align-items: center;
    }

        #chapter-nav button, #chapter-nav-bottom button, #chapter-select {
            width: 100%;
            max-width: 300px;
            margin-bottom: 10px;
        }

    #chapter-select {
        margin-bottom: 10px;
    }

    #chapter-content p {
        font-size: 16px;
    }

    #fit-full-width-btn {
        display: none;
    }
}