




paragraph p.glitch-text { /* unreadable glitched text*/
    display: inline;
    margin: 0 !important;
    padding: 0 !important;
    line-height: inherit;
    font-family: monospace;
    white-space: normal;
    vertical-align: middle;
    overflow-wrap: anywhere; /* breaks words into chars */
    word-break: break-word; /* breaks words into chars */
    will-change: opacity, transform;
    overflow: visible;
    max-width: 100%;
    text-shadow: 2px 0 red, -2px 0 cyan;
    filter: blur(0.5px) contrast(1.5);
    animation: flicker 3s infinite;
}


@keyframes flicker {
    0%, 95%, 100% {
        opacity: 1;
        transform: none;
    }

    96% {
        opacity: 0.8;
        transform: translate(0.8px, -0.8px) scale(1.02) rotate(0.2deg);
        text-shadow: 3px 0 red, -3px 0 cyan;
        filter: blur(1px) contrast(2);
    }

    97% {
        opacity: 0.5;
        transform: translate(-0.8px, 0.8px) scale(0.98) rotate(-0.2deg);
        text-shadow: 4px 0 red, -4px 0 cyan;
        filter: blur(1.5px) contrast(2);
    }

    98% {
        opacity: 0.8;
        transform: translate(0.5px, -0.5px) scale(1.01);
        text-shadow: 2px 0 red, -2px 0 cyan;
        filter: blur(1px) contrast(1.8);
    }

    99% {
        opacity: 1;
        transform: none;
        text-shadow: 2px 0 red, -2px 0 cyan;
        filter: blur(0.5px) contrast(1.5);
    }
}


.spoiler {
    position: relative;
    display: inline-block;
    color: inherit;
    overflow: hidden;
    vertical-align: bottom;
    cursor: help;
}

    .spoiler::after {
        content: "SPOILER";
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        line-height: 1;
        letter-spacing: 0px;
        color: rgba(255, 255, 255, 0.7);
        position: absolute;
        inset: 0;
        background: #000;
        opacity: 1;
        transition: opacity 10000s step-end;
        pointer-events: auto;
    }

    .spoiler:hover::after,
    .spoiler:active::after {
        opacity: 0;
        transition: opacity 2s ease;
    }


.subtle-line {
    border: 0;
    height: 1px;
    background-color: #989898;
    margin: 5px 0;
}